<section class="section hero">
  <div class="container">
    <h2 class="hero__title title">ЗРОБИТИ ЗАМОВЛЕННЯ</h2>
    <div class="hero__box">
      <div class="hero__image"></div>
      <div class="hero__gallery-box">
        <div class="hero__text-box">
          <p class="text hero__text">
            На цій сторінці ви можете зробити замовлення заповнивши форму і ми
            зв'яжемося з вами.
          </p>
          <p class="text hero__text">
            Наші фахівці допоможуть підібрати оптимальні для вас параметри і
            дадуть відповідь на всі ваші запитання.
          </p>
        </div>
        <div class="hero__gallery">
          <ul class="hero__gallery-list">
            <li class="hero__gallery-item">
              <picture>
                <source
                  srcset="
                    ./images/take-order/order1-1x.png 1x,
                    ./images/take-order/order1-2x.png 2x
                  "
                  media="(min-width: 1440px)" />
                <img src="./images/take-order/order1-1x.png" alt="order1"
              /></picture>
            </li>
            <li class="hero__galery-item">
              <picture>
                <source
                  srcset="
                    ./images/take-order/order2-1x.png 1x,
                    ./images/take-order/order2-2x.png 2x
                  "
                  media="(min-width: 1440px)" />
                <img src="./images/take-order/order2-1x.png" alt="order2"
              /></picture>
            </li>
            <li class="hero__galery-item">
              <picture>
                <source
                  srcset="
                    ./images/take-order/order3-1x.png 1x,
                    ./images/take-order/order3-2x.png 2x
                  "
                  media="(min-width: 1px)" />
                <img src="./images/take-order/order3-1x.png" alt="order3"
              /></picture>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
