.contacts-hero {
  @include desktop {
    padding-bottom: 100px;
  }
}

.contacts-hero__container {
  @media screen and (max-width: 767px) {
    width: 320px;
  }

  @include desktop {
    padding-right: 149px;
    padding-left: 149px;
  }
}

.contacts-hero__title {
  margin-bottom: 16px;
  text-transform: uppercase;
}

.contacts-hero__video {
  border-radius: 15px;
  width: 280px;
  height: 171px;
  @include tablet {
    width: 336px;
    height: 261px;
  }

  @include desktop {
    width: 555px;
    height: 315px;
  }
}

.contacts-hero__text {
  margin-top: 16px;
  max-width: 280px;
  @include tablet {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 16px;
  }
  @include desktop {
    width: 515px;

    margin-bottom: 24px;
  }
}

.contacts-hero__video-content {
  @include tablet {
    display: flex;
    gap: 32px;
  }
}
