.connect-info__container {
    @media screen and(max-width:767px) {
    width: 320px;
   }
}

.connect-field {
    @include tablet {
        display: flex;
        justify-content: space-between;
    }
}

.connect-field__group {
    margin-bottom: 20px;
}

.connect-field__title {
    margin-bottom: 8px;
    @include desktop {
    font-size: 36px;
    line-height: 1.25;
    }
    @include tablet {
        font-size: 24px;
    }
}

.connect-field__text {
    margin-bottom: 8px;
    font-weight: 500;
}