.connect-wrap__container {
   @media screen and(max-width:767px) {
    width: 320px;
   }

   @include desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    
    padding-left: 149px;
    padding-right: 149px;
   }
}

.order-form {
    @include desktop {
        padding-top: 0;
        padding-bottom: 80px;
    }
}

.order-form__title {
    
    font-size: 18px;
    line-height: 1.28;
    margin-bottom: 8px;

    @include tablet {
        text-align: center;
    }
    @include desktop {   
    font-size: 36px;
    line-height: 1.25;
    text-align: start;
    margin-bottom: 16px;
    }
}

.order-form__field {
    
  
   @include tablet {
     max-width: 400px;
    margin-left: auto;
    margin-right: auto;
   }
   
   @include desktop {
    max-width: 555px;
    
    
   }
}

.order-form__label {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px;


    

    color: #2B2B2B;

}

.order-form__input {
    
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 39.5px;
    border: none;
    border-bottom:  1px solid #487996;
    outline: none;
    @include tablet {
        margin-bottom: 44px;
    }
}

.order-form__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2B2B2B;
}

.order-form__textarea {
 
    width: 280px;
    height: 199px;
    padding-top: 22px;
    padding-left: 20px;
    margin-top: 4px;
    border: 1px solid #487996;
    border-radius: 50px 0px;
    resize: none;
    outline: none;
    @include tablet {
        width: 400px;
        
    }

    @include desktop {
        width: 555px;
    }
    
}

.textarea {
    position: relative;
}

.order-form__icon {
    position: absolute;
    bottom: 27px;
    right: 28px;
    cursor: pointer;
    @include tablet {
        bottom: 18px;
        right: 18.1px;
    }
    @include desktop {
        right: 61px;
    }
}



.order-form__textarea::placeholder {
    
    color: #cdcdcd;
}

.order-form__textarea-text {
    margin-bottom: 4px;
}

.order-form__bottom-text {
    
    padding-right:70px;
    margin-top: 4px;
    margin-bottom: 40px;

    color: #CDCDCD;
    @include tablet {
        padding-right: 0;
    }
}

.order-form__button {
    @include tablet {
        width: 170px;
        margin-left: auto;
    }
}

.order-form__field {
    margin-bottom: 60px;
    @include desktop {
        margin-bottom: 0;
    }
}

// Connect-info



.connect-info {
    display:flex;
    flex-direction: column;
    gap:20px;
    padding-bottom: 60px;

    @include tablet {
        flex-direction: row; 
    }
    @include desktop {
        flex-direction: column;
        gap: 68px;
    }
    }

.connect-info__tel,
.connect-info__mail,
.connect-info__time {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.connect-info__title {
    font-size: 18px;
    @include desktop {
        font-size: 36px;
    }
}

.connect-info__link,
.connect-info__text {
    font-weight: 500;
}

.connect-info__time {
    @include tablet {
        text-align: end;
        margin-left: auto;
    }
    @include desktop {
        text-align: start;
        margin: 0;
    }
}

