<div class="menu-container">
    <ul class="menu_list">
        <li class="menu_item">
            <a class="" href="">ГОЛОВНА</a>
        </li>
        <li>
            <a href="">ПОСЛУГИ</a>
        </li>
        <li class="menu_item">
            <a href="">3D Моделювання</a>
        </li>
        <li class="menu_item">
            <a href="">3D Сканування</a>
        </li>
        <li class="menu_item">
            <a href="" class="link">3D Друк</a>
        </li>
        <li class="menu_item">
             <a href="">ЗАМОВИТИ</a>
            </li>
        <li class="menu_item">
            <a href="">Контанкти</a>
        </li>
    </ul>
</div>