<section class="connect-info section">
    <div class="connect-info__container container">
<div class="connect-field">

    <div class="connect-field__group">
        <h4 class="connect-field__title title">ТЕЛЕФОНИ</h4>
        <p class="connect-field__text text">+38 (095) -73-84-551</p> 
        <p class="connect-field__text text">+38 (098) -00-25-235</p>
    </div>

    <div class="connect-field__group">
        <h4 class="connect-field__title title">Email</h4>
        <p class="connect-field__text text">3dfreedom.info@gmail.com</p>
    </div>

    <div class="connect-field__group">
        <h4 class="connect-field__title title">Робочий час</h4>
        <p class="connect-field__text text">Пн-пт: <br>
            з 8:00 до 19:00</p>
        <p class="connect-field__text text">Сб, Нд: <br>
            з 10:00 до 17:00</p>
    </div>
    
</div>
</div>
</section>