<section class="order-form section">
    <div class="order-form__container container">
    
    <form class="order-form__field">

        <h3 class="order-form__title title">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>

        <div class="order-form__group">
        <label class="order-form__label" for="user-name">Ім’я</label>
        <input class="order-form__input" type="text"  id="user-name" placeholder="Олексій">
        </div>

        <div class="order-form__group">
        <label for="user-email"></label>
        <input class="order-form__input" type="text"  id="user-email" placeholder="Email">
        </div>
        
        <div class="textarea-content">
        <label class="order-form__textarea-text text" for="text">Повідомлення</label>
        <textarea name="text" id="text" placeholder="Залишіть своє повідомлення" class="order-form__textarea"></textarea>
        
        </div>
        
        <p class="order-form__bottom-text text">*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</p>
        
        <button class="order-form__button button" type="submit">Відправити</button>
    
    </form>

    
    </div>

    
    
</section>