
<div class="connect-wrap__container container">   
<section class="order-form section">
    <form class="order-form__field">

        <h3 class="order-form__title title">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>

        <div class="order-form__group">
        <label class="order-form__label" for="user-name">Ім’я</label>
        <input class="order-form__input" type="text"  id="user-name" placeholder="Олексій">
        </div>

        <div class="order-form__group">
        <input class="order-form__input" type="text"  id="user-email" placeholder="Email">
        </div>
        
        
            
        <label class="order-form__textarea-text text" for="text">Повідомлення</label>
        <div class="textarea">
        <textarea name="text" id="text" placeholder="Залишіть своє повідомлення" class="order-form__textarea" ></textarea>
        
        </div>
        <p class="order-form__bottom-text text">*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</p>
        
        <button class="order-form__button button" type="submit">Відправити</button>
    
    </form>

    
   

    
    
</section>

<section class="connect-info ">
    
        <div class="connect-info__tel">
            <h4 class="connect-info__title title">ТЕЛЕФОНИ</h4>
            <p>
                <a class="connect-info__link text" href="tel:+38 (095) -73-84-551">+38 (095) -73-84-551</a>
            </p> 
            <p>
                <a class="connect-info__link text" href="tel:+38 (098) -00-25-235">+38 (098) -00-25-235</a>
            </p> 
        </div>

        <div class="connect-info__mail">
            <h4 class="connect-info__title title">Email</h4>
            <a class="connect-info__link text" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
        </div>
   
        <div class="connect-info__time">
            <h4 class="connect-info__title title">Робочий час</h4>
            <p class="connect-info__text text">Пн-пт: <br>
                    з 8:00 до 19:00</p>
            <p class="connect-info__text text">Сб, Нд: <br>
                    з 10:00 до 17:00</p>
        </div>
</section>
</div>
