.model-exsamples {
    padding-bottom: 37.82px;
}

.model-exsamples__title {
    padding-bottom: 16px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 16px;
}

.card-list__item {
    width: 100%;
}

.card-list__content {

}

.card-list__title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--second-title-color);
}

