 .model-list__item {
    width: 100%;
    @include tablet {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 60px;
    }
}

.model-list__item:last-child {
    @include tablet {
        margin-bottom: 0px;
    }
}

.model-list__wrap {
    width: 280px;
    height: 385.35px;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.15));
    border-radius: 50px 0px;
    overflow: hidden;
    @include tablet {
        padding-right: 32px;
        width: 336px;
        height: 462px;
    }

    @include desktop {
        width: 236px;
        height: 324px;
    }
}

.model-list__content {
    padding-top: 20px;
}

.model-list__text {
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0;
    }
}

.model-list__text > span {
   font-weight: 700;
   font-size: 16px;
   line-height:calc(20 / 16); 
   color: var(--second-title-color);
}

.model-list__button {
    margin-top: 24px;
    @include tablet {
        margin-top: 56px;
    }
}