.scan-btn {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.scan-btn__button {
  margin: 0 auto;
  cursor: pointer;
}
