<header class="header container">
  <a href="" class="logo"
    ><picture>
      <source srcset="./images/header/logo.png" media="(min-width:1440px)" />
      <source
        srcset="./images/header/logo-tablet.png"
        media="(min-width:768px)"
        width="125"
      />
      <source
        srcset="./images/header/logo-tablet.png"
        media="(max-width:767px)"
      />
      <img src="./images/header/logo.png" alt="Site Logo" /> </picture
  ></a>
  <nav>
    <ul class="navigation">
      <li class="navigation__item">
        <a class="navigation__link" href="">Головна</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="">Послуги</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="">Замовити</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="">Контакти</a>
      </li>
    </ul>
  </nav>
  <button type="button" class="mobile__open">
    <svg class="mobile__icon--open" width="32" height="18">
      <use href="./images/icons.svg#menu-open"></use>
    </svg>
  </button>
  <button type="button" class="phone">
    <svg class="phone__icon" width="18" height="18">
      <use href="./images/icons.svg#phone-icon"></use>
    </svg>
  </button>
  <p class="language">ENG</p>
  <ul class="phone__list">
    <li class="phone__item">
      <svg class="phone__icon" width="11" height="11">
        <use href="./images/icons.svg#phone-icon"></use>
      </svg>
      <a href="tel:+380936432288" class="phone__link">+38 (093) 643 22 88</a>
    </li>
    <li class="phone__item">
      <svg class="phone__icon" width="11" height="11">
        <use href="./images/icons.svg#phone-icon"></use>
      </svg>
      <a href="tel:+380503454423" class="phone__link">+38 (050) 345 44 23</a>
    </li>
  </ul>
</header>
