<section class="gallary">
  <div class="container">
    <h2>ГАЛЕРЕЯ</h2>
    <ul class="gallary__list">
      <li class="gallary__item">
        <a href="#" class="gallary__link">
          <img src="#" alt="" class="gallary__img" />
          <h3>Інженерні методи аналізу та контролю якості</h3>
        </a>
      </li>
      <li class="gallary__item"><a href="#" class="gallary__link"></a></li>
      <li class="gallary__item"><a href="#" class="gallary__link"></a></li>
      <li class="gallary__item"><a href="#" class="gallary__link"></a></li>
    </ul>
  </div>
</section>
