<section class="section hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero-title">
        Інженерна,<br />
        конструкторська<br />
        та дизайнерська робота
      </h1>
      <ul class="hero__list">
        <li class="hero__item">
          <img
            src="#"
            alt="модель робота"
            class="hero__img"
            width="203"
            height="203"
          />
        </li>
        <li class="hero__item">
          <img
            src="#"
            alt="дві настільні лампи"
            class="hero__img"
            width="203"
            height="203"
          />
        </li>
        <li class="hero__item">
          <img
            src="#"
            alt="декоративний череп"
            class="hero__img"
            width="203"
            height="203"
          />
        </li>
      </ul>
      <p class="hero__text">Ми втілюємо ідеї в реальність</p>
    </div>
  </div>
</section>
