<section class="model-exsamples section">
    <div class="container">
        <h2 class="model-exsamples__title title">МИ СТВОРЮЄМО</h2>
        <ul class="card-list list">
            <li class="card-list__item">
                <picture>
                    <source
                        srcset="
                            ./images/printing/model1-desk-1x.png 1x,
                            ./images/printing/model1-desk-2x.png 2x 
                        "
                        media="(min-width: 1440px)"
                    />
                    <source
                        srcset="
                            ./images/printing/model1-tab-1x.png 1x,
                            ./images/printing/model1-tab-2x.png 2x 
                        "
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="
                            ./images/printing/model1-mob-1x.png 1x,
                            ./images/printing/model1-mob-2x.png 2x 
                        "
                        media="(max-width: 767px)"
                    />
                    <img 
                        src="./images/printing/model1-mob-1x.png" 
                        alt="team-1" 
                    />
                </picture>         
                <div class="card-list__content">
                    <h3 class="card-list__title">ДЕКОР</h3>
                </div>
            </li>
            <li class="card-list__item">
                <picture>
                    <source
                        srcset="
                            ./images/printing/model2-desk-1x.png 1x,
                            ./images/printing/model2-desk-2x.png 2x 
                        "
                        media="(min-width: 1440px)"
                    />
                    <source
                        srcset="
                            ./images/printing/model2-tab-1x.png 1x,
                            ./images/printing/model2-tab-2x.png 2x 
                        "
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="
                            ./images/printing/model2-tab-1x.png 1x,
                            ./images/printing/model2-tab-2x.png 2x 
                        "
                        media="(max-width: 767px)"
                    />
                    <img 
                        src="./images/printing/model2-tab-1x.png" 
                        alt="team-1" 
                    />
                </picture>         
                <div class="card-list__content">
                    <h3 class="card-list__title">МАКЕТИ</h3>
                </div>
            </li>
            <li class="card-list__item">
                <picture>
                    <source
                        srcset="
                            ./images/printing/model3-desk-1x.png 1x,
                            ./images/printing/model3-desk-2x.png 2x 
                        "
                        media="(min-width: 1440px)"
                    />
                    <source
                        srcset="
                            ./images/printing/model3-tab-1x.png 1x,
                            ./images/printing/model3-tab-2x.png 2x 
                        "
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="
                            ./images/printing/model3-mob-1x.png 1x,
                            ./images/printing/model3-mob-2x.png 2x 
                        "
                        media="(max-width: 767px)"
                    />
                    <img 
                        src="./images/printing/model3-mob-1x.png" 
                        alt="team-1" 
                    />
                </picture>         
                <div class="card-list__content">
                    <h3 class="card-list__title">ПРОТОТИПИ</h3>
                </div>
            </li>
            <li class="card-list__item">
                <picture>
                    <source
                        srcset="
                            ./images/printing/model4-desk-1x.png 1x,
                            ./images/printing/model4-desk-2x.png 2x 
                        "
                        media="(min-width: 1440px)"
                    />
                    <source
                        srcset="
                            ./images/printing/model4-tab-1x.png 1x,
                            ./images/printing/model4-tab-2x.png 2x 
                        "
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="
                            ./images/printing/model4-mob-1x.png 1x,
                            ./images/printing/model4-mob-2x.png 2x 
                        "
                        media="(max-width: 767px)"
                    />
                    <img 
                        src="./images/printing/model4-mob-1x.png" 
                        alt="team-1" 
                    />
                </picture>         
                <div class="card-list__content">
                    <h3 class="card-list__title">КОРПОРАТИВНИЙ ДИЗАЙН</h3>
                </div>
            </li>
        </ul>
    </div>
</section>